@import url('https://fonts.googleapis.com/css2?family=Rubik+Marker+Hatch&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik Marker Hatch', system-ui, 'Times New Roman', Times, serif;
}
body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(to left top, white, black);
  color: goldenrod;
}
header,
main,
footer {
  width: 100%;
  padding: 15px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}
header {
  font-size: 1.5rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
footer {
  font-size: 1.3rem;
  font-weight: 550;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
footer .contact-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
.contact-icons img {
  width: 40px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
  padding: 3px 6px;
  border-radius: 10px;
  transition: opacity 0.5s ease-in-out, box-shadow 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}
.contact-icons img:hover {
  opacity: 0.7;
  box-shadow: none;
  transform: scale(0.98);
  transform: rotateZ(90deg);
}

/* ------------------------------ */

#container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 30px;
  box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5);
  gap: 15px;
  border-radius: 10px;
}
